@model UsersWithCoursesViewModel

@{
    this.ViewData["Title"] = "Evaluation";
    int counter = 1;
    int evaluationIndex = 0;
}

<h1 class="text-center mt-3 mb-3">@this.ViewData["Title"]</h1>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Course</th>
            <th scope="col">Grade</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model.Courses)
        {
            evaluationIndex++;
            <tr>
                <th>@counter</th>
                <td>@course.AddedByUser</td>
                <td>@course.CourseName</td>
                <td class="d-flex justify-content-between evaluation">
                    @course.Grade
                    <a class="btn btn-warning change" data-courseid="@course.CourseId" data-addedbyuserid="@course.AddedByUserId">Change</a>
                </td>
            </tr>
            counter++;
        }
    </tbody>
</table>

<form id="antiForgery" method="post"></form>

<script type="text/template" id="evaluation-template">
    <label for="evaluation_input">Evaluate</label>
    <input class="evaluation_input" type="number" min="2" max="6" />
    <a class="btn btn-warning save" data-courseid="[courseid]" data-addedbyuserid="[addedbyuserid]">Save</a>
</script>

@section Scripts { 
    <script>
        jQuery($ => {
            let $template = $('#evaluation-template');

            $('.btn.change').on('click', e => {
                let $btn = $(e.target);
                let template = $template.html().replace('[courseid]', $btn.data('courseid')).replace('[addedbyuserid]', $btn.data('addedbyuserid')).trim();
                $btn.closest('.evaluation').html(template);
            });

            $(document).on('click', '.btn.save', e => {
                let $btn = $(e.target);

                let courseId = $btn.data('courseid');
                let addedByUserId = $btn.data('addedbyuserid');
                let evaluation = $('.evaluation_input').val();
                let antiForgeryToken = $('#antiForgery input[name=__RequestVerificationToken]').val();

                let json = { courseId, addedByUserId, evaluation };

                $.ajax({
                    url: "/api/Evaluations",
                    type: "POST",
                    data: JSON.stringify(json),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    headers: { 'X-CSRF-TOKEN': antiForgeryToken },
                    success: function (data) {
                        $btn.closest('.evaluation').html(data.evaluation);
                    }
                });
            });
        });
    </script>
}
