@model UsersWithCoursesViewModel

@{
    this.ViewData["Title"] = "Evaluation";
    int counter = 1;
}

<h1 class="text-center mt-3 mb-3">@this.ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Course</th>
            <th scope="col">Grade</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model.Courses)
        {
            <tr>
                <th>@counter</th>
                <td>@course.AddedByUser</td>
                <td>@course.CourseName</td>
                <td class="d-flex justify-content-between" id="evaluation">
                    @course.Grade
                    <a class="btn btn-warning" onclick="addInput()">Change</a>
                </td>
            </tr>
            counter++;
        }
    </tbody>
</table>

@section Scripts { 
    <script>
        function addInput() {
            $("#evaluation").remove(".a").text(null).prepend("<labe>Evaluate</label><input id='evaluation_input' type='number' /><a class='btn btn-warning' asp-route-userId='@@course.CourseId' onclick='evaluates()'>Save</a>")
        }

        function evaluates() {
            $("#evaluation_input").val()
        }
    </script>
}
