@using FinanceWorld.Common;
@model FinanceWorld.Web.ViewModels.News.NewsByIdViewModel
@{
    this.ViewData["Title"] = Model.Title;
}

<h1 class="text-center mt-3">@Model.Title</h1>
<p>@Model.CategoryName</p>
<hr />
<img src="@Model.ImageUrl" />
<p>@Model.Content</p>
@if (User.IsInRole(GlobalConstants.AdministratorRoleName))
{
    <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
}