@model FinanceWorld.Web.ViewModels.Home.HomeViewModel;
@using FinanceWorld.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<partial name="_TickerPartial" />
<div class="text-center">
    <h1 class="display-4 mb-5 mt-5">Welcome to @GlobalConstants.SystemName!</h1>
</div>

@foreach (var news in Model.News)
{
    <article class="ciz-post">
        <div class="post-thumb">
            <a asp-controller="News" asp-action="ById" asp-route-id="@news.Id">
                <span class="post-format">
                    <i class="fa fa-video-camera"></i>
                </span>
                <img alt="@news.Title" src="@news.ImageUrl" style="width: 50%">
            </a>
        </div>
        <h3 class="post-title">
            <a asp-controller="News" asp-action="ById" asp-route-id="@news.Id">@news.Title</a>
        </h3>
        <div class="post-meta">
            <span class="post-date">
                @news.CreatedOnFormatted
            </span>
            <em>/</em>
            <span class="post-category">
                <span>@news.CategoryName</span>
            </span>
        </div>
        <div class="post-des">
            <p class="text-truncate">@news.Content</p>
        </div>
    </article>
}
