@model FinanceWorld.Web.ViewModels.Home.HomeViewModel;
@using FinanceWorld.Common
@{
    this.ViewData["Title"] = "Home Page";
}

<partial name="_TickerPartial" />
<div class="text-center">
    <h1 class="display-4 mb-5 mt-5">Welcome to @GlobalConstants.SystemName!</h1>
</div>

@foreach (var news in Model.News)
{
    <a asp-controller="News" asp-action="ById" asp-route-id="@news.Id">
        <div class="card bg-dark text-white mb-5">
            <img src="@news.ImageUrl" class="card-img" alt="@news.Title">
            <div class="card-img-overlay">
                <h5 class="card-title">@news.Title</h5>
                <p class="card-text">@news.Content</p>
                <p class="card-text">Updated on: @news.CreatedOn</p>
            </div>
        </div>
    </a>
}
