@model FinanceWorld.Web.ViewModels.Home.HomeViewModel;
@{
    this.ViewData["Title"] = "Home Page";
}

<partial name="_TickerPartial" />
<div class="text-center">
    <h1 class="display-4 mb-5 mt-5">See last news!</h1>
</div>
<hr />
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        @for (int i = 0; i < Model.News.Count; i++)
        {
            var news = Model.News[i];
            <div class="carousel-item @(i == 0 ? "active" : string.Empty)">
                <img class="d-block w-100" src="@news.ImageUrl" alt="@news.Title">
                <div class="carousel-caption d-none d-md-block">
                    <h5><a class="btn btn-info" asp-controller="News" asp-action="ById" asp-route-id="@news.Id">@news.Title</a></h5>
                </div>
            </div>
        }
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="text-center">
    <h1 class="display-4 mb-5 mt-5">See last analyzes!</h1>
</div>
<hr />
<div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        @for (int i = 0; i < Model.Analyzes.Count; i++)
        {
            var analyzes = Model.Analyzes[i];
            <div class="carousel-item @(i == 0 ? "active" : string.Empty)">
                <img class="d-block w-100" src="@analyzes.Image" alt="@analyzes.Title">
                <div class="carousel-caption d-none d-md-block">
                    <h5><a class="btn btn-info" asp-controller="Analyzes" asp-action="ById" asp-route-id="@analyzes.Id">@analyzes.Title</a></h5>
                </div>
            </div>
        }
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
