@model FinanceWorld.Web.ViewModels.Analyzes.AllAnalyzesViewModel
@{
    this.ViewData["Title"] = "My analyzes";
}

<h1 class="text-center">@this.ViewData["Title"]</h1>
<hr />
<div class="row">
    @foreach (var analyze in Model.Analyzes)
    {
        <div class="card col-md-3 mb-3 mr-2" style="width: 18rem;">
            <img src="@analyze.Image" class="card-img-top pt-3" alt="@analyze.Title">
            <div class="card-body">
                <h5 class="card-title">@analyze.Title</h5>
                <p class="card-text">@analyze.Description</p>
            </div>
            <ul class="list-unstyled d-flex justify-content-around">
                <li class="d-inline">
                    <a class="btn btn-secondary mb-2" asp-action="Edit" asp-route-id="@analyze.Id">Edit</a>
                </li>
                <li class="d-inline">
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@analyze.Id">Delete</a>
                </li>
            </ul>
        </div>
    }
</div>

<hr />
<partial name="_PaginationPartial" model="@Model">