@model FinanceWorld.Web.ViewModels.Analyzes.AnalyzesViewModel
@{
    this.ViewData["Title"] = Model.Title;
}
<h1 class="text-center mt-3">@this.ViewData["Title"]</h1>

<div class="container-fluid mt-100" style="width: 90%">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="media flex-wrap w-100 d-flex justify-content-center">
                        <div class="text-center">
                            <p class="font-weight-bold">Added by user: @Model.AddedByUser</p>
                            <p class="font-weight-bold">Created on: @Model.CreatedOn</p>
                        </div>
                        <img src="@Model.Image" class="ui-w-40" alt="@Model.Title" style="height: 500px;">
                        <p class="mt-4">@Model.Description</p>
                        <div class="col-md-12 mt-2">
                            <div class="row text-muted small ml-3" style="display: flex; justify-content: center;">
                                <form id="antiForgery" method="post"></form>
                                <div class="mr-5">
                                    <a href="#" onclick="sendVote(`@Model.Id`, true)">
                                        <i class="fa fa-thumbs-up" style="font-size: 20px;"></i>
                                    </a>
                                    <div id="likesCount">@Model.LikesCount</div>
                                </div>
                                <div class="mr-5">
                                    <a href="#" onclick="sendVote(`@Model.Id`, false)">
                                        <i class="fa fa-thumbs-down" style="font-size: 20px;"></i>
                                    </a>
                                    <div id="dislikesCount">@Model.DislikesCount</div>
                                </div>
                                @if (this.User.Identity.IsAuthenticated)
                                {
                                    <div class="px-4"> <button type="button" class="btn btn-primary float-right" onclick="showAddCommentForm(0)"><i class="fa fa-plus"></i>&nbsp; Comment</button> </div>
                                    <div class="clearfix"></div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <form asp-controller="Comments" asp-action="Create" method="post" id="AddCommentForm" style="display: none">
        <input type="hidden" name="AnalyzeId" value="@Model.Id" />
        <input type="hidden" name="ParentId" value="0" />
        <div>
            <label for="Content"></label>
            <textarea name="Content" id="Content" class="form-control"></textarea>
        </div>
        <div class="mb-3 mt-2">
            <input type="submit" class="btn btn-primary" value="Add comment" />
        </div>
    </form>
</div>

@foreach (var comment in Model.Comments)
{
    <div class="container-fluid mt-100">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-4">
                    <div class="card-header">
                        <div class="media flex-wrap w-100 align-items-center">
                            <img src="https://res.cloudinary.com/dxfq3iotg/image/upload/v1574583246/AAA/2.jpg" class="d-block ui-w-40 rounded-circle" alt="profile picture">
                            <div class="media-body ml-3">
                                @comment.AddedByUser
                                <div class="text-muted small">
                                    <p>@comment.CreatedOn.ToString("d")</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <article>
                            @Html.Raw(comment.SanitizedContent)
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    <script>
        function showAddCommentForm(parentId) {
            $("#AddCommentForm input[name='ParentId']").val(parentId);
            $("#AddCommentForm").show();
            $([document.documentElement, document.body]).animate({
                scrollTop: $("#AddCommentForm").offset().top
            }, 1000);
        }

        function sendVote(analyzeId, isUpVote) {
            var antiForegeryToken = $('#antiForgery input[name=__RequestVerificationToken]').val();
            var json = { analyzeId, isUpVote };
            $.ajax({
                url: "/api/Votes",
                type: "POST",
                data: JSON.stringify(json),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: { 'X-CSRF-TOKEN': antiForegeryToken },
                success: function (data) {
                    $("#likesCount").html(data.likesCount);
                    $("#dislikesCount").html(data.dislikesCount);
                }
            });
        }
    </script>
    <script src="https://cdn.tiny.cloud/1/0cbbnqk8npnpxq444gnbd5ytlxf6evykezwg52obb1bxw1zg/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: "textarea",
            plugins: ["image paste table link code media"]
        });
    </script>
}