@model FinanceWorld.Web.ViewModels.Analyzes.AnalyzesViewModel
@{
    this.ViewData["Title"] = Model.Title;
}
<h1 class="text-center mt-3">@this.ViewData["Title"]</h1>
<hr />
<div class="container-fluid mt-100" style="width: 90%">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="media flex-wrap w-100" style="display: flex; justify-content: center;">
                        <img src="@Model.Image" class="ui-w-40" alt="@Model.Title" style="height: 500px;">
                        @Model.Description
                        <div class="col-md-12">
                            <div class="row text-muted small ml-3" style="display: flex; justify-content: center;">
                                <form id="antiForgery" method="post"></form>
                                <div class="mr-5">
                                    <a href="#" onclick="sendVote(`@Model.Id`, true)">
                                        <i class="fa fa-thumbs-up"></i>
                                    </a>
                                    <div id="likesCount">@Model.LikesCount</div>
                                </div>
                                <div>
                                    <a href="#" onclick="sendVote(`@Model.Id`, false)">
                                        <i class="fa fa-thumbs-down"></i>
                                    </a>
                                    <div id="dislikesCount">@Model.DislikesCount</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function sendVote(analyzeId, isUpVote) {
            var antiForegeryToken = $('#antiForgery input[name=__RequestVerificationToken]').val();
            var json = { analyzeId, isUpVote };
            $.ajax({
                url: "/api/Votes",
                type: "POST",
                data: JSON.stringify(json),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: { 'X-CSRF-TOKEN': antiForegeryToken },
                success: function (data) {
                    $("#likesCount").html(data.likesCount);
                    $("#dislikesCount").html(data.dislikesCount);
                }
            });
        }
    </script>
}