@model FinanceWorld.Web.ViewModels.Analyzes.AllAnalyzesViewModel;

@{
    this.ViewData["Title"] = "Results";
}

<hr />

<form method="get">
    <div class="form-group">
        <label asp-for="@Model.SearchTitle"></label>
        <input class="form-control" asp-for="@Model.SearchTitle" placeholder="Search" />
    </div>
</form>

<div class="row row-cols-1 row-cols-md-4 g-4">
    @foreach (var analyze in Model.Analyzes)
    {
        <div class="col mb-4">
            <div class="card">
                <img src="@analyze.Image" class="card-img-top" alt="@analyze.Title">
                <div class="card-body">
                    <h5 class="card-title text-center">@analyze.Title</h5>
                    <p class="card-text text-truncate">@analyze.Description</p>
                </div>
                <div class="col text-center mb-2">
                    <a class="btn btn-primary" asp-action="ById" asp-route-id="@analyze.Id">See analyze</a>
                </div>
            </div>
        </div>
    }
</div>

<hr />
<partial name="_PaginationPartial" model="@Model">